# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
/src/main/java/META-INF/MANIFEST.MF
/out/artifacts/tdt4145_project_jar/tdt4145-project.jar
